#text {
    color: #cba6f7;
}
window {
    font-size: 20px;
    border-radius: 15px;

    color: #cba6f7;

    background-color: #313244;

    color: white;
}

#input {
    background-color: #313244;
    border: 0px solid white;
    margin-top: 10px;

    font-size: 25px;
}

#inner-box {
    margin: 10px;
}

#entry:selected {
    background-color: #5294e2;
    border-radius: 10px;
    border: 0px solid white;
    margin-top: 3px;
    margin-bottom: 3px;
}
#entry {
    border-radius: 10px;
    border: 0px solid white;
    margin-top: 3px;
    margin-bottom: 3px;
}
